<h2>Standard Project Tasks</h2>
<div class="row">
  <div class="col-md-3">
    <app-tilecard id="Architecture" [smImg]="'assets/images/architecture.png'" [title]="'Architecture'" [subTitle]="'Develop Architecture for the Rule Application'" [description]="'Address topology, HA, DR, CI/CD'"  [urlMdPath]="'assets/docs/tasks/arch-dev-rule-sol.md'" [size]="'1200px'" [buttonName]="'Open'"></app-tilecard>
  </div>
  <div class="col-md-3">
    <app-tilecard id="plan" [smImg]="'assets/images/plan-project.png'" [title]="'Plan Project'" [subTitle]="'Develop Rule Application Project Plan'" [description]="'Address specific project planning'"  [urlMdPath]="'assets/docs/tasks/plan-project.md'" [size]="'1200px'" [buttonName]="'Open'"></app-tilecard>
  </div>
</div>
