Agile Business Rule Methodology is based on hundred of consulting engagements at ILOG Inc and then IBM and the following <a href="http://www.springer.com/business+%26+management/business+information+systems/book/978-3-642-19040-7">book</a>. The content is product agnostic and support incremental and iterative development for decision services. It starts from a business operation improvement idea that is assessed versus of set of criteria to validate the fit to use a Business Rule Management System, and addresses all the project implementation phases.

<h3>Background</h3>
ABRD was developed by Jerome Boyer at ILOG to support implementation and deployment of BRMS by its customers and professional services. It was hundred of deployments world wide for different industry. The polytechnic school of Singapore is using it in its curriculum. It is now offered as a free open source methodology as part of the Eclipse Process Framework plug-in library.

<h3>Authors</h3>
<ul>
  <li>Jerome Boyer: Senior Technical Staff Member at IBM - Hybrid Cloud Solution Engineering</li>
  <li>Pierre Berlandier: Senior Technical Staff Member at IBM - ODM.</li>
  <li>Hafedh Mili: Professor in Computer Science at the University of Montreal - Canada</li>
</ul>


<img src="assets/images/abrd-book.png"/>
