

<h2> Agile Business Rule Development Method</h2>
<p>
This project delivers, as open source, the content for the Agile Business Rule Methodology used to develop decision management application and based on hundred of consulting engagements at ILOG Inc and then IBM and the following <a href="http://www.springer.com/business+%26+management/business+information+systems/book/978-3-642-19040-7">book</a>. The content is product agnostic and support incremental and iterative development for decision services. It starts from a business operation improvement idea that is assessed versus of set of criteria to validate fit to use a Business Rule Management System, and addresses all the project implementation phases.

<a (click)="openDialog('Decision Management System','assets/concepts/brms.md')">Decision Management System</a> involves a combination of components that support the definition, change and execution of an organization's <a (click)="openDialog('Business Rule','assets/concepts/br.md')">business rules</a>  -based decision services. Introducing BRMS in an enterprise will reduce application maintenance costs, enable more accurate and consistent business policy implementation across applications, and improve collaboration between <a (click)="openDialog('Rule analyst','assets/concepts/rule-analyst.md')">business analysts</a> and IT departments. BRMS is the term used in the methodology as it covers business rule management, as oppose to a product name that may change over time.
The goal of the Agile Business Rule Development (ABRD) method is to provide a repeatable development process for decision-centric projects.
</p>
<h3>Goals</h3>
ABRD applies the agile manifesto to efficiently implement business policies as executable rules. The goal is not having a team spending month to document thousand of rules, where those rules can be implemented, executed, tested in less time as soon as the first day of analysis. Specifically the goals are
<ul>
<li>Separate rules as a manageable artifact using discovery, analysis and authoring activities and work products</li>
<li> Trace rules during their full life cycle from requirement to deployment and maintenance</li>
<li> Link rules to business context and motivation</li>
<li> Develop the rule description using business terms and high level rule language</li>
<li> Prepare the fact model for the rule implementation</li>
<li> Prepare the rule set implementation and deployment as decision services in a Service Oriented Architecture or as Micro Services executed by a <a (click)="openDialog('Rule Engine','assets/concepts/ruleengine.md')">rule engine</a></li>
<li> Articulate the rule governance processes</li>
</ul>
<h3>How to Adopt ABRD</h3>
BRMS enable managing business rule as a standalone artifact, owned by the business user, and maintainable over time into production system. The implementation of a business rule application follows some activities and tasks that are slightly different than traditional software development life cycle. The integration of one or more business analysts as part of the development team is also less traditional. Finally the core value of such technology is to be able to have business user maintaining the business rules in production with a minimum involvement of IT. Technology is one side of the coin, methodology and best practices is the other.

A Project Management Office can leverage ABRD as-is or integrate it as content for their own methodology.

If the team is new to business rule application, it is best to start with a small rule set and incrementally add rules and best practices over time. The team has to integrate the rule discovery and analysis activities in their own project plan.

Prototyping or Minimum Viable Product is a major approach, as it shows to the team concrete execution, and helps to drive issues, and requirements around business rules and even business process.

<h4>Common Pitfalls</h4>
The most common pitfalls in implementing business rules application include:
<ul>
<li>Starting by harvesting all the rules in a document without any implementation</li>
<li>Ignoring the importance of the data model</li>
<li>Not understanding where the rules are (should be) enforced</li>
<li>Mixing the data model from the implementation point of view, with the domain model that is used by the business</li>
<li>Involving IT only: never forget the business, involve them as early as possible and make them take ownership of the rules.</li>
<li>Outsourcing business rule implementation: business rules are enterprise assets.</li>
<li>Forgetting to test the rules outside of the application</li>
<li>Not involving the business in the rule validation process</li>
<li>Badly designing a rule set, by not applying standard design pattern as separation of concerns.</li>
</ul>
<h3>Incremental Development</h3>
The following diagram illustrates how a decision service implementation is built from a business idea to an executable SOA service integrated with a BPM system or any consumers.
<img src="assets/images/ABRD-phase-tools.png" alt="Phases" style="width: 90%;"/>
<p>
Within those phases we can find project activities that are executed multiple times during each phase:
</p>
<ul>
<li>Rule discovery</li>
<li>Rule analysis</li>
<li>Fact model implementation</li>
<li>Rule implementation and unit test</li>
<li>Rule validation</li>
<li>Rule deployment</li>
</ul>

<p>
Like all agile methodologies, ABRD prescribes an incremental development using time boxed iterations. However, in ABRD, the <a (click)="openDialog('Project Approach','assets/docs/guidances/projectApproach.md')">entire process lifecycle</a>  may not be followed for each iteration. Instead, a number of very short cycles between phases may occur, with the entire ruleset gradually evolving.
</p>
<h3>Project Approach</h3>
This <a (click)="openDialog('Project Approach','assets/docs/guidances/projectApproach.md')">note</a> gives details on how to build the rule application in term of project management.

<h3>News</h3>
<ul>
<li>2017- Finally I'm moving ABRD content out of Eclipse Framework Composer library to an Angular App hosted on github and open source the content in <a href="http://github.com/abrd/abrd.github.io">this github repository</a>. Aa part of this port, I am integrating deep update to content, some product specific guidances, and update with new micro-service architecture, complex event processing and lesson learnt since the last years.
</li>
</ul>
<h3>How to use it?</h3>
As an open source your can fork the git repository from http://github.com/abrd/abrd.github.io and add your own content in the app/assets folder. If you want to contribute back use a pull request on the main abrd repository <a href="https://github.com/abrd/abrd.github.io/pulls">pull request</a>.

As it is a night job it will take time... Stay tuned. Jerome.
