<h4>Best Practices</h4>
<div class="row">
    <app-tile id="datamodel" [color]="'#80bfff'" [title]="'Different Data Model'" [description]="'A guideline for information model design'" [buttonName]="'Open'" [urlPath]="'assets/concepts/diff-data-model.md'"></app-tile>

    <app-tile id="agileestimation" [color]="'#80bfff'" [title]="'Agile Estimation'" [description]="'Three key concepts of agile estimation and how they relate to each other. Agile estimation concepts of size, velocity, and effort.'" [buttonName]="'Open'" [urlPath]="'assets/concepts/agile-estimation.md'"></app-tile>
</div>
